---
import Layout from "../layouts/layout.astro";
import HeaderLink from "../components/HeaderLink.astro";
import Hero from "../components/hero/Hero.astro";
import Carreras from "../components/Carreras.astro";

import Icon from "../components/Icons";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const avisos = (await getCollection("avisos")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const noticias = (await getCollection("noticias")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const carreras = await getCollection("carreras");

const cloneNotices = [...noticias];
cloneNotices.shift();
const noticiasList = cloneNotices;
const carrerasRandom = carreras.sort(() => Math.random() - 0.5);
---

<style>
  .avisos li {
    transition: 0.3s;
  }
  .avisos li:hover {
    box-shadow: var(--box-shadow);
  }
  .destacado {
    border: 5px dotted;
    border-color: var(--primary);
  }
</style>
<Layout
  title="UNEFM | Universidad nacional experimental Francisco de miranda"
  description="Universidad nacional experimental Francisco de miranda"
>
  <Hero />
  <main>
    <section id="avisos" class="mx-auto container">
      <div class="text-center">
        <h2>Avisos importantes</h2>
        <p class="text-[18px]">
          Avisos importantes para personal y estudiantes <b>UNEFM</b>
        </p>
        <ul
          class="gap-8 grid grid-cols-2 md:grid-cols-3 2xl:grid-cols-6 w-full avisos"
        >
          {
            avisos.slice(0, 6).map((aviso) => (
              <li
                class={`flex flex-col justify-center bg-slate-200 hover:shadow-(--box-shadow) p-4 rounded-md shadow-md transition-all ${aviso.data.destacado && "destacado"}`}
              >
                <a href={`/avisos/${aviso.id}/`}>
                  <h6 class="line-clamp-2 text-[15px]">{aviso.data.title}</h6>
                  <span class="mb-2 line-clamp-2 text-sm">
                    {aviso.data.description}
                  </span>
                  <div class="flex justify-center gap-2">
                    <span class="bg-primary px-3 py-1 rounded-full text-white text-xs date">
                      <FormattedDate date={aviso.data.pubDate} />
                    </span>
                    <span
                      class={
                        aviso.data.interesados
                          ? "bg-slate-300 px-3 py-1 rounded-full text-xs date line-clamp-1 max-w-24 hidden md:block"
                          : "hidden"
                      }
                    >
                      {aviso.data.interesados}
                    </span>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="md:flex justify-center gap-8 hidden mt-12">
        <a href="/avisos">
          <button class="w-40 btn-outline">Ver avisos</button>
        </a>
        <a href="/noticias">
          <button class="w-40 btn-outline">Ver noticias</button>
        </a>
      </div>
    </section>

    <section id="info" class="-mt-12">
      <div
        class="gap-24 grid grid-cols-1 md:grid-cols-2 mx-auto py-[5%] container"
      >
        <div class="flex flex-col justify-center h-full">
          <h2>
            Descubre las oportunidades que te esperan y da el primer paso hacia
            un futuro brillante
          </h2>
          <div class="mt-4">
            <p>
              Ubicada en el corazón del <b>estado Falcón</b>, Venezuela, nuestra
              universidad es un faro de excelencia académica y profesional.
              Ofrecemos una <b>amplia gama de carreras</b> que incluyen licenciaturas,
              ingenierías, medicina, y Técnico Superior Universitario (T.S.U.) tanto
              en <b>pregrado como en postgrado.</b>
            </p>

            <p>
              Nuestro compromiso es proporcionar una educación de calidad que
              forme a los futuros líderes de nuestra región y del mundo. En la <b
                class="text-link">Universidad Pública</b
              > de Coro, nos esforzamos por crear un ambiente inclusivo y estimulante,
              donde cada estudiante pueda alcanzar su máximo potencial.
            </p>
          </div>
        </div>
        <div>
          <img src="/homeSection1.webp" alt="graduados" />
        </div>
      </div>
    </section>

    <section id="cursos" class="bg-[#eeeeee] py-24">
      <div class="mx-auto container">
        <div class="mb-8 text-center">
          <h2>Descubre las carreras que<br /> tenemos para ofrecerte</h2>
        </div>
        <div class="gap-4 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
          {
            carrerasRandom.slice(0, 8).map((item: any) => (
              <Carreras
                title={item.data.title}
                nivel={item.data.nivel}
                curso={item.data.curso}
                id={item.id}
              >
                <div transition:name={`icon-${item.data.icon}`}>
                  <Icon
                    name={item.data.icon}
                    size={60}
                    color={item.data.color}
                  />
                </div>
              </Carreras>
            ))
          }
        </div>
        <!-- <div class="flex justify-center mt-8">
            <button class="btn">
              <span>Ver todas</span>
              <AngleRigth color="#fff" width="15" stroke="3" />
            </button>
          </div> -->
      </div>
    </section>

    <section
      id="banner"
      class="bg-[url(/bannerHomeMovil.webp)] md:bg-[url(/bannerHome.webp)] bg-cover bg-no-repeat bg-center"
    >
      <div class="mx-auto py-24 md:h-[590px] container">
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div>
            <img src="/imgMovilBanner.webp" class="md:hidden visible" alt="" />
          </div>
          <div class="flex flex-col justify-center mt-4 xl:ml-24 h-[350px]">
            <h5>Obtén tú paquete de egreso</h5>
            <h2 class="mb-4 text-primary xl:text-6xl">Hazlo tú mismo</h2>
            <div>
              <span
                class="bg-primary mt-8 px-4 py-1 rounded-full text-slate-300"
              >
                <span class="hidden md:visible">ingresa a</span>
                <a
                  href="https://mundoadi.net/tramites/"
                  class="text-white"
                  target="_blank">https://mundoadi.net/tramites</a
                >
              </span>
            </div>
            <p class="mt-4 xl:text-xl">
              La Universidad Nacional Experimental <b class="text-primary"
                >"Francisco de Miranda"</b
              > te invita a seguir estos sencillos pasos para obtener tú paquete
              de Egreso Nacional o Internacional a través de nuestro sistema, escríbenos
              al: <a
                href="tel:04125682385"
                class="font-bold text-primary hover:underline">0412-5682-385</a
              >
            </p>
            <div>
              <a
                href="https://www.instagram.com/p/DFEyEE3Ok5Y/"
                target="_blank"
              >
                <button class="btn-outline">Ver pasos a seguir</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="noticias" class="py-24">
      <div class="mx-auto container">
        <div class="grid grid-cols-1 md:grid-cols-2 mb-16">
          <div>
            <h2 class="">Últimas noticias UNEFM</h2>
            <span
              >No te pierdas las ultimas noticias sobre la universidad, está<br
              />
              atento ante cualquier aviso o noticia relevante en nuestra página web.</span
            >
          </div>
          <div class="flex md:justify-end items-center mt-8 md:mt-0">
            <a href="/noticias">
              <button class="btn-outline">Ver más noticias</button>
            </a>
          </div>
        </div>
        <div class="gap-8 grid grid-cols-1 md:grid-cols-2">
          <div
            class="relative bg-slate-400 bg-center rounded-md h-[30rem] overflow-hidden"
          >
            <a class="bg-red-300" href={`/noticias/${noticias[0].id}`}>
              <div
                class="absolute inset-0 bg-cover transition-all duration-200 hover:scale-110"
                transition:name={`hero-${noticias[0].data.title}`}
                style={{
                  backgroundImage: `url(${noticias[0].data.heroImage})`,
                }}
              >
                <div
                  class="absolute inset-0 bg-gradient-to-t from-black to-transparent"
                >
                  <div
                    class="bottom-10 md:bottom-12 left-5 md:left-12 absolute mr-4 md:mr-0 2xl:w-[30rem]"
                  >
                    <h4 class="line-clamp-2 text-white">
                      {noticias[0].data.title}
                    </h4>
                    <p class="text-slate-200">
                      {noticias[0].data.description}
                    </p>
                    <div class="mt-2">
                      <span class="badge">
                        <FormattedDate date={noticias[0].data.pubDate} />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="relative">
            <ul class="flex flex-col justify-between gap-4 h-full">
              {
                noticiasList.slice(0, 3).map((noticia) => (
                  <li class="">
                    <a class="bg-red-300" href={`/noticias/${noticia.id}/`}>
                      <div class="flex gap-4">
                        <div class="relative bg-slate-400 bg-center rounded-md w-[35%] h-[150px] overflow-hidden">
                          <div
                            transition:name={`hero-${noticia.data.title}`}
                            class="absolute inset-0 bg-cover transition-transform duration-200 hover:scale-110"
                            style={{
                              backgroundImage: `url(${noticia.data.heroImage})`,
                            }}
                          />
                        </div>
                        <div class="flex flex-col justify-center w-[70%]">
                          <h6 class="line-clamp-2">{noticia.data.title}</h6>
                          <span class="line-clamp-2">
                            {noticia.data.description}
                          </span>
                          <div class="mt-2">
                            <span class="badge">
                              <FormattedDate date={noticia.data.pubDate} />
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
