---
import { SITE_TITLE, socialMedia } from "../consts";
import InstagramIcon from "../icons/InstagramIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import TwitterIcon from "../icons/TwitterIcon.astro";
import Icon from "./Icons";
import { getCollection } from "astro:content";
const noticias = (await getCollection("noticias")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div
  class="bg-cover bg-center pt-24"
  style={{
    backgroundImage: `url('/footer2.png')`,
  }}
>
  <div class="mx-auto container">
    <div class="flex sm:flex-row flex-col">
      <div class="sm:w-[30%]">
        <div class="flex flex-col items-center md:items-start logo">
          <a href="/">
            <img src="/logoInverse.png" class="w-[15rem]" alt={SITE_TITLE} />
          </a>
          <div
            class="text-right sm:flex items-center gap-2 hidden mt-12 h-full"
          >
            <a
              class="flex justify-center items-center border-2 border-white rounded-full w-8 h-8"
              href={socialMedia.instagrma}
              target="_blank"
            >
              <InstagramIcon color="#FFF" stroke="3" width="17" />
            </a>
            <a
              class="flex justify-center items-center border-2 border-white rounded-full w-8 h-8"
              href={socialMedia.facebook}
              target="_blank"
            >
              <FacebookIcon color="#fff" stroke="1" width="18" />
            </a>
            <a
              class="flex justify-center items-center border-2 border-white rounded-full w-8 h-8"
              href={socialMedia.x}
              target="_blank"
            >
              <TwitterIcon color="#fff" stroke="3" width="18" />
            </a>
          </div>
        </div>
      </div>
      <div class="sm:block flex justify-center sm:w-[40%]">
        <div class="flex gap-12 sm:gap-8 sm:grid-cols-3 mt-12 sm:mt-0">
          <ul class="flex flex-col gap-3 text-white uppercase footer-list">
            <li>
              <h6 class="text-nowrap text-white uppercase">LINK PRINCIPALES</h6>
            </li>
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="/nosotros">Sobre nosotros</a>
            </li>
            <li>
              <a href="/mision-vision">Misi贸n y visi贸n</a>
            </li>
            <li>
              <a href="/contacto">Contacto</a>
            </li>
          </ul>
          <ul class="flex flex-col gap-3 text-white uppercase footer-list">
            <li>
              <h6 class="text-white uppercase">Intranet</h6>
            </li>
            <li>
              <a
                href="https://mundoadi.net/pregrado/"
                class="text-nowrap"
                target="_blank">ADI</a
              >
            </li>
            <li>
              <a
                href="http://nomina.unefm.edu.ve/"
                class="text-nowrap"
                target="_blank">N贸mina</a
              >
            </li>
            <li>
              <a
                href="https://unefm.net/editorial/"
                class="text-nowrap"
                target="_blank">Fondo editorial</a
              >
            </li>
            <li>
              <a
                href="http://estudiantes.unefm.edu.ve/"
                class="text-nowrap"
                target="_blank">Control de estudios</a
              >
            </li>
          </ul>
          <ul class="flex flex-col gap-3 text-white uppercase footer-list">
            <li>
              <h6 class="text-white uppercase">Noticias recientes</h6>
            </li>
            {
              noticias.slice(0, 4).map((noticia) => (
                <li>
                  <a
                    href={`/noticias/${noticia.id}/`}
                    target="_blank"
                    class="line-clamp-1"
                  >
                    {noticia.data.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div class="sm:block hidden sm:w-[30%] text-white">
        <h5 class="text-white">Lorem ipsum dolor sit amet, consectetur</h5>
        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          tempora quas a at eos. Esse magni autem maxime, impedit consequatur
          molestiae reprehenderit nobis nihil quaerat, amet rerum corporis animi
          culpa.
        </p>
      </div>
    </div>
  </div>
  <div class="border-[#ffffff1e] mt-12 py-1 border-t-2">
    <div class="mx-auto container">
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <div class="sm:flex items-center hidden text-[13px] text-white">
          <Icon name={"MapPin"} size={20} color="white" />
          <span class="ml-1">
            Calle norte, entra Av. Manaure y calle Toledo
          </span>
        </div>
        <div class="flex justify-center sm:justify-end items-center">
          <img
            width="200"
            src="/ministerio.svg"
            alt="Ministerio del poder popular para la educaci贸n"
          />
        </div>
      </div>
    </div>
  </div>
</div>
