---
import Icon from "../../components/Icons";
import Layout from "../../layouts/layout.astro";
const { nombre_carrera, titulo, duracion, lugar, color, icon } = Astro.props;
---

<style>
  main {
    max-width: 960px;
    margin-bottom: 120px;
  }
  .title {
    margin-top: 20px !important;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(50% - 1rem);
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  ul li:first-child img {
    width: 100%;
  }
  ul li:first-child .title {
    font-size: 2.369rem;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  ul li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
<Layout>
  <main class="mx-auto mt-12">
    <div class="mx-auto container">
      <div class="flex flex-col justify-center items-center text-center">
        <div transition:name={`icon-${icon}`}>
          <Icon name={icon} size={150} color={color} />
        </div>
        <h1 class="mt-4 uppercase" transition:name={`title-${nombre_carrera}`}>
          {nombre_carrera}
        </h1>
      </div>
      <div
        class="md:flex md:justify-between gap-4 grid grid-cols-1 sm:grid-cols-2 mt-2 text-sm uppercase"
      >
        <div class="text-nowrap">
          <span><b>Duración: </b> {duracion}</span>
        </div>
        <div class="max-w-[350px]">
          <span><b>Ubicación: </b>{lugar}</span>
        </div>
      </div>
      <div class="flex justify-center gap-4 mt-8">
        <button class="btn-outline" onclick="window.history.back();"
          >Volver atrás</button
        >
        <a href="/carreras">
          <button class="btn-outline">Ver carreras</button>
        </a>
      </div>
      <div class="mt-12 carreras-layout">
        <slot />
      </div>
    </div>
  </main>
</Layout>
